  <section id="Greetings">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

        <br>
        <br>
        
          <article>
            <figure>
              <%= image_tag("Connor headshot.jpg", class: "prof-img img-circle") %>
            </figure>
            <h1 class="startup">&lt;Connor Larmour&gt;</h1>
            <h3 class="startup">&lt;Junior Rails Developer&gt;</h2>
            <p class="startup">&lt;Simplistic UIs&gt;</p>
          </article> 
        </div>
      </div>
    </div>
  </section>

  <section id="info">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <h2 class="Intro">&gt;Personal</h2>
            <p class="start">
              Born and raised in Victoria, BC. I have a strong passion for tennis, hockey, soccer, and golf in my free time. 
            </p>
            <p>
              I take pride in my ability to connect with customers, offering world-class service with a smile and charm which consistently allow me to achieve 5 out of 5 support reviews.
            </p>
            <p>
              Nothing makes me more proud than to be able to assist others, create something each day, and make the world a better place. 
            </p>
        </div>

        <div class="col-sm-6">
          <h2 class="Intro">&gt;Looking for something?</h2>
            <p class="start">
              I'd love to help you create your dream. In the famous words of Shia LaBeouf, "Don't let your dreams, be dreams".
            </p>
            <p>
              Looking to create a website? I can help with that. Let me know what you're looking to have created, and a budget you want to work with. Hit that Contact Me button on the navbar and let's get started.
            </p>
            <br>
            <br>
        </div>

      </div>
    </div>
  </section>
