<section id="Resume">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce">
          <h1>CONNOR LARMOUR</h1>
          <hr>
          <h3>Junior Web Developer</h3>
          <hr>
          <p>Victoria British Columbia Canada</p>
          <p>+1 25O 886 4898</p>
          <p>connorlarmour(at)outlook.com</p>
          <hr>
        </div>

        <h3>SUMMARY</h3>
        <p>
          Detail-oriented and analytical professional with 5+ years of experience within direct customer service offering an
          additional educational skillset in web development to provide a well-rounded approach toward IT-based technical
          support. Contributes to organizational goals within customer service by leveraging a highly-developed interpersonal,
          problem solving, and troubleshooting skillset, resolving customer concerns and issues in a timely and efficient manner
          while adhering to company policies and protocols.<br>
          <br>
          Please feel free to browse my <a href="https://github.com/CLarmour">Github</a> Profile, and view all projects I have created and contributed to.
        </p>
        <hr>

        <h3>SKILLS & PROFICENCIES</h3>
        <p>
          <strong>Languages ></strong> HTML5, CSS3(Bootstrap, Materialize), Javascript (vanilla, jQuery), Ruby
          <br>
          <strong>Frameworks ></strong> Rails, Sinatra
          <br>
          <strong>Databases ></strong> PostgreSQL, SQLite3
          <br>
          <strong>Others ></strong> TDD, OOP, Git, OS, Office 365, Active Directory, WDS, MDT, Hardware, Software
        </p>
        <hr>

        <h3>EDUCATION</h3>
        <p>
          <h5><strong>Lighthouse Labs</strong><em> December 2015</em></h5>
          <p>Web Development Bootcamp</p>
          <br>
          <p>12 intense weeks of applied learning and problem solving in a variety of languages, frameworks, and ideologies. Was taught the best methods for a variety of methods to solve problems, approach error stacks, and best practices for creating web applications from scratch. Was taught the importance of test driven development, object oriented programming, and team collaboration. Averaged roughly 12 hours a day, 6 to 7 days a week in the classroom to prepare for work force.
          </p>
        </p>
        <hr>

        <h3>WORK HISTORY</h3>
        <p>
          <h5><strong>Tecnet Canada</strong><em> November 2017 - Present</em></h5>
          <p>Help Desk Anaylst</p>
          <br>
          <p>Provide Tier 1 technical support to both clients and customers, as well as technicians, for roughly 2 dozen client companies including BC Public Sector. Utilize tools such as ScreenConnect to offer remote assistance, as well as ServiceCenter to maintain asset and customer databases. Record all documentation using Sharepoint, and SQL database systems. Troubleshooting includes hardware, software, client-specific software, servers, network equipment, and VOIP-telephone systems. Also responsible for maintaining deployment servers and images for variety of clients using Microsoft Deployment toolkit, Windows Deployment services, and VMWare-based Mirage.</p>
          <br>
          <br>

          <h5><strong>Tecnet Canada</strong><em> January 2017 - November 2017</em></h5>
          <p>Field Technician</p>
          <br>
          <p>Utilized as first facial contact for customers and clients, offering computer software and hardware troubleshooting, maintenance, and repairs. Responsible for creating, managing, and submitting documentation regarding parts, part numbers, and client contact to Logistics and Dispatch teams. Ability to thoroughly explain technical problems and solutions to clients without using unusual jargon, confirming client understanding and confirmation of resolution regardless of technical level and understanding.</p>
          <br>
          <br>

          <h5><strong>Westin Bear Mountain Golf Resort & Spa</strong><em> February 2012 - October 2017</em></h5>
          <p>Golf Services Associate & Team Leader</p>
          <br>
          <p>Executed a wide range of tasks simultaneously, managing guest requests and interactions while simultaneously performing essential daily support services for the golf team. As a team member, I collaborated with the entire Bear Mountain Golf team to deliver outstanding customer service and golf experience, culminating with the resort being named the Starwood Preferred Guests' number one golf experience in the world. As a team leader, I directed the production and daily tasks across myself and the rest of the team, ensuring quality customer service and team production was priority number one. Won employee of the month for Golf Team in June 2012.</p>
          <br>
          <br>

          <h5><strong>JV Driver Fabricators</strong><em> October 2012 - May 2013</em></h5>
          <p>Electrician Apprentice, 1st Year</p>
          <br>
          <p>Delivered high quality electrical panels including the installation of electrical heat tracing on external module piping contributing towards the production of the William's module site in northern Alberta. Performed daily yard maintenance, troubleshooting, and preparing malfunctioning electrical components to ensure continued operational efficiency. Operated heavy machinery including zoom boom lifts, whilst recognizing and complying with appropriate safety precautions and regulations.</p>
          <br>
          <br>
        </p>
        <hr>

        <h3>REFERENCES</h3>
        <br>
        <p>References are available upon request, please contact me via email or by phone.</p>
        <hr>
      </div>
    </div>
  </div>
</section>
<br>
<br>