<section id="projects-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <article>
          <h2>Here's some recent projects I've built/contributed to.</h2>
        </article>
      </div>
    </div>
  </div>
</section>
<section id="projects-banzai">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="wrapper">
          <span class="text">
            Banzai Roulette is a web app utilizing Ruby on Rails as a framework, PostgreSQL database, and the public APIs Giphy, and Facebook. The front end is styled with Javascript(vanilla, jQuery), and CSS(Bootstrap, Materialize). The user signs in with Facebook, and creates a game 'lobby' and invites others via email. Each user will select a word/phrase, and the app will store these words in the database. Once the game is complete, the loser returns to the lobby, selects the 'I lose' button, and the app will randomly select one of the chosen words/phrases from the database and posts a single 'gif' to the loser's Facebook wall. The app was created as a final demo product to fellow students, faculty, and public at Lighthouse Labs to showcase the skills learned throughout the program.
          </span>
          <%= image_tag("BanzaiScreenshot.png", class: "Banzai") %>
        </a>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section id="projects-personal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" class="wrapper">
          <span class="text">
            This website! It's pretty basic in the sense it's all basic code, using Ruby on Rails framework and some Bootstrap, and Font Awesome thrown in there. Minimal Javascript at this point (although that will be changing very soon!). There's a bunch of plans for this website in terms of 'trying' things out, and some have even come to fruition as you can see the 'back to top' button floating in the footer; simple but effective.
          </span>
          <%= image_tag("ConnorLarmourScreenshot.png", class: "Banzai") %>
        </a>
      </div>
    </div>
  </div>
</section>








