// Place all the styles related to the Resume controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: linear-gradient(to bottom, #ffffff, #66ff33);
}

h4 {
  text-align: center;
  color: #000066;
}

.introduce {
  text-align: center;
}

p {
  color: #000066;
}

h1 {
  color: #000066;
}

h3 {
  color: #000066;
  text-align: center;
}

h5 {
  color: #000066;
}