<header id="home-top">
  <div class="container">
    <nav class="navbar">
      <ul class="nav navbar-nav navbar-top">
        <li class="nav-item"><a href="/" class="nav-link"><i class="fa fa-home"> Home</i></a></li>
        <li class="nav-item"><a href="/resume" class="nav-link"><i class="fa fa-file-text"> Resume</i></a></li>
        <li class="nav-item"><a href="/projects" class="nav-link"><i class="fa fa-terminal"> Portfolio</i></a></li>
        <li class="nav-item"><a href="mailto:connorlarmour@outlook.com" class="nav-link"><i class="fa fa-envelope"> Contact Me</i></a></li>
      </ul>
      <nav class="social-icons">
        <a href="https://twitter.com/cwlarmour" target="_blank" title="Connor Larmour on Twitter">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="https://github.com/CLarmour" target="_blank" title="Connor Larmour on Github">
          <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="https://ca.linkedin.com/in/clarmour" target="_blank" title="Connor Larmour on LinkedIn">
          <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
      </nav>
    </nav>
  </div>
</header>